<hr><hr>
<p style="font-weight: bold;">propertybinding works!</p>
<hr>

<!-- 
    - To bind ur property dynamically to its attribute/directive/custom attribute

    - to keep property type as it is 
    - U can apply any attribute of html tags 
    - Syntax => [attribute name/directive/custom attribute]="propertyName"
-->

<input type="text" [value]="name" placeholder="Enter name">

<hr>
<div hidden = {{isHidden}}>
    Display the data using string interpolation
</div>

<div [hidden] = "isHidden">
    Display the data using property binding
</div>
