<hr><hr>
<p style="font-weight: bold;">httpmethod works!</p>
<hr>

<!-- Create a UI for insert data -->
<div>
    <label for="">Title ::</label>
    <!-- here we create template reference variable by using # for sending data html file to component file-->
    <input #title type="text" placeholder="Enter Title" class="form-control w-25"><br>
    <label for="">Body ::</label>
    <!-- here also we create template reference variable by using # -->
    <input #body type="text" placeholder="Enter Body" class="form-control w-25"><br>
    <!-- here we use event binding concept i.e click event -->
    <button (click) = "onSend(title.value, body.value)" type="submit" class="btn btn-success form-control w-25">Send</button>
</div>

<hr>

<!-- Create a UI for update data -->
<div [hidden] = "ishidden">
    <label for="">Id ::</label>
    <input [(ngModel)] = "myid" class="form-control w-25" type="text" placeholder="Enter Id" readonly><br>
    <label for="">Title ::</label>
    <input [(ngModel)] = "mytitle" class="form-control w-25" type="text" placeholder="Enter Title"><br>
    <label for="">Body ::</label>
    <input [(ngModel)] = "mybody" class="form-control w-25" type="text" placeholder="Enter Body"><br>
    <button class="btn btn-info form-control w-25" type="button" (click) = "onUpdate()">Update</button>
</div>

<hr>

<!-- Create a UI for fetch data -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of posts">
            <td>{{item.id}}</td>
            <!-- here we create button for update data. After that we use event binding concept for sending data html file to component file. And then that data fetch into update UI(html file) for update the data. -->
            <td><button (click) = "onEdit(item)" type="button" class="btn btn-warning">Edit</button><br>
            <!-- here we create button for delete data. After that we use event binding concept for sending id html file to component file. for delete the data. -->
            <button (click) = "onDelete(item.id)" type="button" class="btn btn-danger mt-2">Delete</button></td>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
        </tr>
    </tbody>
</table>
