<h2>My First Angular Application</h2>
<!-- <div style="text-align: center;">
  <label for="myid">Username</label>
  <input id="myid" type="text" placeholder="Enter the username"><br><br>
  <label for="">Password</label>
  <input type="password" placeholder="Enter the password"><br><br>
  <button type="submit">Login</button>
</div> -->
<app-employee></app-employee>
<app-propertybinding></app-propertybinding>
<app-stylebinding></app-stylebinding>
<app-classbinding></app-classbinding>
<app-eventbinding1></app-eventbinding1>
<app-eventbinding2></app-eventbinding2>
<app-twowaydatabinding></app-twowaydatabinding>
<app-eventbinding3></app-eventbinding3>
<app-ifdirective></app-ifdirective>
<app-fordirective></app-fordirective>
<app-switchdirective></app-switchdirective>
